[submodule "Apertium-Global-PairViewer"]
	path = Apertium-Global-PairViewer
	url = https://github.com/jonorthwash/Apertium-Global-PairViewer
[submodule "scrapers/git-repos/apertium-chv"]
	path = scrapers/git-repos/apertium-chv
	url = https://github.com/apertium/apertium-chv
[submodule "scrapers/git-repos/apertium-kir"]
	path = scrapers/git-repos/apertium-kir
	url = https://github.com/apertium/apertium-kir
[submodule "scrapers/git-repos/apertium-tur-aze"]
	path = scrapers/git-repos/apertium-tur-aze
	url = https://github.com/apertium/apertium-tur-aze
[submodule "scrapers/git-repos/apertium-tat-bak"]
	path = scrapers/git-repos/apertium-tat-bak
	url = https://github.com/apertium/apertium-tat-bak
[submodule "scrapers/git-repos/apertium-chv-tat"]
	path = scrapers/git-repos/apertium-chv-tat
	url = https://github.com/apertium/apertium-chv-tat
[submodule "scrapers/git-repos/apertium-chv-tur"]
	path = scrapers/git-repos/apertium-chv-tur
	url = https://github.com/apertium/apertium-chv-tur
[submodule "scrapers/git-repos/apertium-crh-tur"]
	path = scrapers/git-repos/apertium-crh-tur
	url = https://github.com/apertium/apertium-crh-tur
[submodule "scrapers/git-repos/apertium-kaz-kaa"]
	path = scrapers/git-repos/apertium-kaz-kaa
	url = https://github.com/apertium/apertium-kaz-kaa
[submodule "scrapers/git-repos/apertium-uzb-kaa"]
	path = scrapers/git-repos/apertium-uzb-kaa
	url = https://github.com/apertium/apertium-uzb-kaa
[submodule "scrapers/git-repos/apertium-tat-kaa"]
	path = scrapers/git-repos/apertium-tat-kaa
	url = https://github.com/apertium/apertium-tat-kaa
[submodule "scrapers/git-repos/apertium-kaz-sah"]
	path = scrapers/git-repos/apertium-kaz-sah
	url = https://github.com/apertium/apertium-kaz-sah
[submodule "scrapers/git-repos/apertium-aze"]
	path = scrapers/git-repos/apertium-aze
	url = https://github.com/apertium/apertium-aze
[submodule "scrapers/git-repos/apertium-kaz-tyv"]
	path = scrapers/git-repos/apertium-kaz-tyv
	url = https://github.com/apertium/apertium-kaz-tyv
[submodule "scrapers/git-repos/apertium-kaz-uig"]
	path = scrapers/git-repos/apertium-kaz-uig
	url = https://github.com/apertium/apertium-kaz-uig
[submodule "scrapers/git-repos/apertium-kaz-tur"]
	path = scrapers/git-repos/apertium-kaz-tur
	url = https://github.com/apertium/apertium-kaz-tur
[submodule "scrapers/git-repos/apertium-nog-kaz"]
	path = scrapers/git-repos/apertium-nog-kaz
	url = https://github.com/apertium/apertium-nog-kaz
[submodule "scrapers/git-repos/apertium-kaz-kum"]
	path = scrapers/git-repos/apertium-kaz-kum
	url = https://github.com/apertium/apertium-kaz-kum
[submodule "scrapers/git-repos/apertium-bak"]
	path = scrapers/git-repos/apertium-bak
	url = https://github.com/apertium/apertium-bak
[submodule "scrapers/git-repos/apertium-kaz-kir"]
	path = scrapers/git-repos/apertium-kaz-kir
	url = https://github.com/apertium/apertium-kaz-kir
[submodule "scrapers/git-repos/apertium-crh"]
	path = scrapers/git-repos/apertium-crh
	url = https://github.com/apertium/apertium-crh
[submodule "scrapers/git-repos/apertium-kaa"]
	path = scrapers/git-repos/apertium-kaa
	url = https://github.com/apertium/apertium-kaa
[submodule "scrapers/git-repos/apertium-kaz-tat"]
	path = scrapers/git-repos/apertium-kaz-tat
	url = https://github.com/apertium/apertium-kaz-tat
[submodule "scrapers/git-repos/apertium-kir-uzb"]
	path = scrapers/git-repos/apertium-kir-uzb
	url = https://github.com/apertium/apertium-kir-uzb
[submodule "scrapers/git-repos/apertium-tat-kir"]
	path = scrapers/git-repos/apertium-tat-kir
	url = https://github.com/apertium/apertium-tat-kir
[submodule "scrapers/git-repos/apertium-kaz"]
	path = scrapers/git-repos/apertium-kaz
	url = https://github.com/apertium/apertium-kaz
[submodule "scrapers/git-repos/apertium-tur-kir"]
	path = scrapers/git-repos/apertium-tur-kir
	url = https://github.com/apertium/apertium-tur-kir
[submodule "scrapers/git-repos/apertium-kjh"]
	path = scrapers/git-repos/apertium-kjh
	url = https://github.com/apertium/apertium-kjh
[submodule "scrapers/git-repos/apertium-kum"]
	path = scrapers/git-repos/apertium-kum
	url = https://github.com/apertium/apertium-kum
[submodule "scrapers/git-repos/apertium-nog"]
	path = scrapers/git-repos/apertium-nog
	url = https://github.com/apertium/apertium-nog
[submodule "scrapers/git-repos/apertium-tur-tat"]
	path = scrapers/git-repos/apertium-tur-tat
	url = https://github.com/apertium/apertium-tur-tat
[submodule "scrapers/git-repos/apertium-sah"]
	path = scrapers/git-repos/apertium-sah
	url = https://github.com/apertium/apertium-sah
[submodule "scrapers/git-repos/apertium-tat"]
	path = scrapers/git-repos/apertium-tat
	url = https://github.com/apertium/apertium-tat
[submodule "scrapers/git-repos/apertium-tuk"]
	path = scrapers/git-repos/apertium-tuk
	url = https://github.com/apertium/apertium-tuk
[submodule "scrapers/git-repos/apertium-tur"]
	path = scrapers/git-repos/apertium-tur
	url = https://github.com/apertium/apertium-tur
[submodule "scrapers/git-repos/apertium-tyv"]
	path = scrapers/git-repos/apertium-tyv
	url = https://github.com/apertium/apertium-tyv
[submodule "scrapers/git-repos/apertium-uig"]
	path = scrapers/git-repos/apertium-uig
	url = https://github.com/apertium/apertium-uig
[submodule "scrapers/git-repos/apertium-uzb"]
	path = scrapers/git-repos/apertium-uzb
	url = https://github.com/apertium/apertium-uzb
[submodule "scrapers/git-repos/apertium-tur-uzb"]
	path = scrapers/git-repos/apertium-tur-uzb
	url = https://github.com/apertium/apertium-tur-uzb
[submodule "scrapers/git-repos/apertium-uig-tur"]
	path = scrapers/git-repos/apertium-uig-tur
	url = https://github.com/apertium/apertium-uig-tur
[submodule "scrapers/git-repos/apertium-ast"]
	path = scrapers/git-repos/apertium-ast
	url = https://github.com/apertium/apertium-ast
[submodule "scrapers/git-repos/apertium-spa"]
	path = scrapers/git-repos/apertium-spa
	url = https://github.com/apertium/apertium-spa
[submodule "scrapers/git-repos/apertium-spa-cos"]
	path = scrapers/git-repos/apertium-spa-cos
	url = https://github.com/apertium/apertium-spa-cos
[submodule "scrapers/git-repos/apertium-scn-spa"]
	path = scrapers/git-repos/apertium-scn-spa
	url = https://github.com/apertium/apertium-scn-spa
[submodule "scrapers/git-repos/apertium-spa-ast"]
	path = scrapers/git-repos/apertium-spa-ast
	url = https://github.com/apertium/apertium-spa-ast
[submodule "scrapers/git-repos/apertium-arg"]
	path = scrapers/git-repos/apertium-arg
	url = https://github.com/apertium/apertium-arg
[submodule "scrapers/git-repos/apertium-cos"]
	path = scrapers/git-repos/apertium-cos
	url = https://github.com/apertium/apertium-cos
[submodule "scrapers/git-repos/apertium-glg"]
	path = scrapers/git-repos/apertium-glg
	url = https://github.com/apertium/apertium-glg
[submodule "scrapers/git-repos/apertium-fra"]
	path = scrapers/git-repos/apertium-fra
	url = https://github.com/apertium/apertium-fra
[submodule "scrapers/git-repos/apertium-spa-arg"]
	path = scrapers/git-repos/apertium-spa-arg
	url = https://github.com/apertium/apertium-spa-arg
[submodule "scrapers/git-repos/apertium-spa-ita"]
	path = scrapers/git-repos/apertium-spa-ita
	url = https://github.com/apertium/apertium-spa-ita
[submodule "scrapers/git-repos/apertium-spa-cat"]
	path = scrapers/git-repos/apertium-spa-cat
	url = https://github.com/apertium/apertium-spa-cat
[submodule "scrapers/git-repos/apertium-cat"]
	path = scrapers/git-repos/apertium-cat
	url = https://github.com/apertium/apertium-cat
[submodule "scrapers/git-repos/apertium-cat-cos"]
	path = scrapers/git-repos/apertium-cat-cos
	url = https://github.com/apertium/apertium-cat-cos
[submodule "scrapers/git-repos/apertium-por-cat"]
	path = scrapers/git-repos/apertium-por-cat
	url = https://github.com/apertium/apertium-por-cat
[submodule "scrapers/git-repos/apertium-ron-cat"]
	path = scrapers/git-repos/apertium-ron-cat
	url = https://github.com/apertium/apertium-ron-cat
[submodule "scrapers/git-repos/apertium-ita"]
	path = scrapers/git-repos/apertium-ita
	url = https://github.com/apertium/apertium-ita
[submodule "scrapers/git-repos/apertium-cos-ita"]
	path = scrapers/git-repos/apertium-cos-ita
	url = https://github.com/apertium/apertium-cos-ita
[submodule "scrapers/git-repos/apertium-fra-ita"]
	path = scrapers/git-repos/apertium-fra-ita
	url = https://github.com/apertium/apertium-fra-ita
[submodule "scrapers/git-repos/apertium-ita-ita"]
	path = scrapers/git-repos/apertium-ita-ita
	url = https://github.com/apertium/apertium-ita-ita
[submodule "scrapers/git-repos/apertium-ita-srd"]
	path = scrapers/git-repos/apertium-ita-srd
	url = https://github.com/apertium/apertium-ita-srd
[submodule "scrapers/git-repos/apertium-arg-cat"]
	path = scrapers/git-repos/apertium-arg-cat
	url = https://github.com/apertium/apertium-arg-cat
[submodule "scrapers/git-repos/apertium-oci"]
	path = scrapers/git-repos/apertium-oci
	url = https://github.com/apertium/apertium-oci
[submodule "scrapers/git-repos/apertium-srd"]
	path = scrapers/git-repos/apertium-srd
	url = https://github.com/apertium/apertium-srd
[submodule "scrapers/git-repos/apertium-scn"]
	path = scrapers/git-repos/apertium-scn
	url = https://github.com/apertium/apertium-scn
[submodule "scrapers/git-repos/apertium-por"]
	path = scrapers/git-repos/apertium-por
	url = https://github.com/apertium/apertium-por
[submodule "scrapers/git-repos/apertium-fra-por"]
	path = scrapers/git-repos/apertium-fra-por
	url = https://github.com/apertium/apertium-fra-por
[submodule "scrapers/git-repos/apertium-cat-glg"]
	path = scrapers/git-repos/apertium-cat-glg
	url = https://github.com/apertium/apertium-cat-glg
[submodule "scrapers/git-repos/apertium-ron"]
	path = scrapers/git-repos/apertium-ron
	url = https://github.com/apertium/apertium-ron
[submodule "scrapers/git-repos/apertium-fra-ron"]
	path = scrapers/git-repos/apertium-fra-ron
	url = https://github.com/apertium/apertium-fra-ron
[submodule "scrapers/git-repos/apertium-ron-rup"]
	path = scrapers/git-repos/apertium-ron-rup
	url = https://github.com/apertium/apertium-ron-rup
[submodule "scrapers/git-repos/apertium-cos-por"]
	path = scrapers/git-repos/apertium-cos-por
	url = https://github.com/apertium/apertium-cos-por
[submodule "scrapers/git-repos/apertium-rup"]
	path = scrapers/git-repos/apertium-rup
	url = https://github.com/apertium/apertium-rup
[submodule "scrapers/git-repos/apertium-cat-ita"]
	path = scrapers/git-repos/apertium-cat-ita
	url = https://github.com/apertium/apertium-cat-ita
[submodule "scrapers/git-repos/apertium-cat-srd"]
	path = scrapers/git-repos/apertium-cat-srd
	url = https://github.com/apertium/apertium-cat-srd
[submodule "scrapers/git-repos/apertium-fra-cat"]
	path = scrapers/git-repos/apertium-fra-cat
	url = https://github.com/apertium/apertium-fra-cat
[submodule "scrapers/git-repos/apertium-oci-fra"]
	path = scrapers/git-repos/apertium-oci-fra
	url = https://github.com/apertium/apertium-oci-fra
[submodule "scrapers/git-repos/apertium-srd-ita"]
	path = scrapers/git-repos/apertium-srd-ita
	url = https://github.com/apertium/apertium-srd-ita
[submodule "scrapers/git-repos/apertium-cym"]
	path = scrapers/git-repos/apertium-cym
	url = https://github.com/apertium/apertium-cym
[submodule "scrapers/git-repos/apertium-bre"]
	path = scrapers/git-repos/apertium-bre
	url = https://github.com/apertium/apertium-bre
[submodule "scrapers/git-repos/apertium-gla"]
	path = scrapers/git-repos/apertium-gla
	url = https://github.com/apertium/apertium-gla
[submodule "scrapers/git-repos/apertium-glv"]
	path = scrapers/git-repos/apertium-glv
	url = https://github.com/apertium/apertium-glv
[submodule "scrapers/git-repos/apertium-gle"]
	path = scrapers/git-repos/apertium-gle
	url = https://github.com/apertium/apertium-gle
[submodule "scrapers/git-repos/apertium-bre-cym"]
	path = scrapers/git-repos/apertium-bre-cym
	url = https://github.com/apertium/apertium-bre-cym
[submodule "scrapers/git-repos/apertium-ara"]
	path = scrapers/git-repos/apertium-ara
	url = https://github.com/apertium/apertium-ara
[submodule "scrapers/git-repos/apertium-heb"]
	path = scrapers/git-repos/apertium-heb
	url = https://github.com/apertium/apertium-heb
[submodule "scrapers/git-repos/apertium-mlt"]
	path = scrapers/git-repos/apertium-mlt
	url = https://github.com/apertium/apertium-mlt
[submodule "scrapers/git-repos/apertium-ara-heb"]
	path = scrapers/git-repos/apertium-ara-heb
	url = https://github.com/apertium/apertium-ara-heb
[submodule "scrapers/git-repos/apertium-mlt-ara"]
	path = scrapers/git-repos/apertium-mlt-ara
	url = https://github.com/apertium/apertium-mlt-ara
[submodule "scrapers/git-repos/apertium-mlt-heb"]
	path = scrapers/git-repos/apertium-mlt-heb
	url = https://github.com/apertium/apertium-mlt-heb
[submodule "scrapers/git-repos/apertium-bua"]
	path = scrapers/git-repos/apertium-bua
	url = https://github.com/apertium/apertium-bua
[submodule "scrapers/git-repos/apertium-bua-khk"]
	path = scrapers/git-repos/apertium-bua-khk
	url = https://github.com/apertium/apertium-bua-khk
[submodule "scrapers/git-repos/apertium-khk"]
	path = scrapers/git-repos/apertium-khk
	url = https://github.com/apertium/apertium-khk
[submodule "scrapers/git-repos/apertium-mal"]
	path = scrapers/git-repos/apertium-mal
	url = https://github.com/apertium/apertium-mal
[submodule "scrapers/git-repos/apertium-tel"]
	path = scrapers/git-repos/apertium-tel
	url = https://github.com/apertium/apertium-tel
