jonorthwash <jonathan.n.washington@gmail.com>
jonorthwash <jonathan.north.washington@gmail.com>
jonorthwash <jwashin1@cs.swarthmore.edu>
hectoralos <hectoralos@gmail.com>
ftyers <ftyers@prompsit.com>
unhammer <unhammer@fsfe.org>
IlnarSelimcan <ilnar@selimcan.org>
IlnarSelimcan <ilnar.salimzyan@gmail.com>
zu-ann <asl29112@gmail.com>
qavan <pro100qavan@gmail.com>
ManitK <Manitkaushik24@gmail.com>
MemduhG <memduhg@gmail.com>
sharapat <kalabaevshj@gmail.com>
beknazar <beknazar23@gmail.com>
koguzhan <kuyrukcuoguz@gmail.com>
varie <despairchasm@gmail.com>
varie <sivanova@whq-10.cs.helsinki.fi>
varie <varie@oqaa.projectjj.com>
mansayk <6688000@gmail.com>
zfekurtz <gianluca.grossi@me.com>
sevilaybayatli <sevilaybayatli@gmail.com>
asselbaltabayeva <baltabayeva.assel@gmail.com>
sundetova <sun27aida@gmail.com>
kantoro <kantoro@users.sourceforge.net>
kantoro <kantoro90@gmail.com>
dina-ta <amidi_92@mail.ru>
ryanachi <ryan.andrew.chi@gmail.com>
inariksit <inari@chalmers.se>
mlforcada <mlf@dlsi.ua.es>

#The following authors don't have a github account

kakubay <kakubay@oqaa.projectjj.com>
aldsaryglar <aldsaryglar@users.sourceforge.net>
Aglimzan <aglimzan@users.sourceforge.net>
Yusuf Tezcan <yatezcan@users.sourceforge.net>
Gabi <gtanekeyev@gmail.com>
Balzhan Abduali <balzhan_5696@mail.ru>
Aidana <askaribayeva@gmail.com>
Saule Zholdybekova <saule123@users.sourceforge.net>
Zhandos Zhumanov <z.zhake@gmail.com>
Нурболат Жанбосунов <nurbolat_03.93@mail.ru>
Zhadyra Akhmadieva <zhadi22@users.sourceforge.net>
Zhenisbek Assylbekov <zhassylbekov@nu.edu.kz>
Yersultan Serikbayev <serikbayev.e@gmail.com>
Assem Abeustanova <shormakovaassem@gmail.com>
Malika Abakan <abaqanmalika@users.sourceforge.net>
Yerbolat Kaldashbekov <yerbolatkz@users.sourceforge.net>
Aizhan Aitkulova <aizhanka.89@mail.ru>
tarika17 <tarika17@users.sourceforge.net>
