jonorthwash <jonathan.n.washington@gmail.com>
jonorthwash <jonathan.north.washington@gmail.com>
jonorthwash <jwashin1@cs.swarthmore.edu>
hectoralos <hectoralos@gmail.com>
hectoralos <hector@bestia.Dlink>
ftyers <ftyers@prompsit.com>
unhammer <unhammer@fsfe.org>
IlnarSelimcan <ilnar@selimcan.org>
IlnarSelimcan <ilnar.salimzyan@gmail.com>
zu-ann <asl29112@gmail.com>
qavan <pro100qavan@gmail.com>
ManitK <Manitkaushik24@gmail.com>
MemduhG <memduhg@gmail.com>
sharapat <kalabaevshj@gmail.com>
beknazar <beknazar23@gmail.com>
koguzhan <kuyrukcuoguz@gmail.com>
varie <despairchasm@gmail.com>
varie <sivanova@whq-10.cs.helsinki.fi>
varie <varie@oqaa.projectjj.com>
mansayk <6688000@gmail.com>
zfekurtz <gianluca.grossi@me.com>
sevilaybayatli <sevilaybayatli@gmail.com>
asselbaltabayeva <baltabayeva.assel@gmail.com>
sundetova <sun27aida@gmail.com>
kantoro <kantoro@users.sourceforge.net>
kantoro <kantoro90@gmail.com>
dina-ta <amidi_92@mail.ru>
ryanachi <ryan.andrew.chi@gmail.com>
inariksit <inari@chalmers.se>
mlforcada <mlf@dlsi.ua.es>
jaumeortola <jaumeortola@gmail.com>
Juanpabl <juanpabl@gmail.com>
Juanpabl <jpmart@unizar.es>
gramirez-prompsit <gramirez@prompsit.com>
loryru <lorenzarusso@hotmail.com>
loryru <loryru@oqaa.projectjj.com>
Capsot <ratapenada@yahoo.com>
xavivars <xavi.ivars@gmail.com>
bechapertium <bechapertium@free.fr>
nuboro <brorhultberg@gmail.com>
MarcRiera <marc.riera.irigoyen@gmail.com>
gfro3d <gfro3d@gmail.com>
e-gomez <egomez@prompsit.com>
albertonl <alberto.navalonlillo@gmail.com>
donissegui <donissegui@gmail.com>
donissegui <donissegui@gmail>
tradumatica <sergio.ortiz@gmail.com>
zapasnaya-ordan <uliana.sentsova@gmail.com>
joshuajy03 <52546898+joshuajy03@users.noreply.github.com>
izakus <iza.kusicielek@gmail.com>
Shopskasalata <shopskasalata@users.sourceforge.net>
vin-ivar <vinit.ravishankar@gmail.com>
Anarsaikhan <anarsaikhana@gmail.com>
Anarsaikhan <atuvshi1@swarthmore.edu>
Anarsaikhan <anarsaikhan@Anarsaikhans-MacBook-Pro.local>
padth4i <vaishnavs4201@gmail.com>
tachyons <aboobackervyd@gmail.com>
shardulc <shardul.chiplunkar@gmail.com>
ruca-boka <rujulgandhi@gmail.com>
amanmehta-maniac <amanmehta1997@gmail.com>
kindleton <raveeshmotlani@gmail.com>
sud1209 <sudarshrathi92@gmail.com>
jimregan <joregan@gmail.com>

#The following authors don't have a GitHub account

kakubay <kakubay@oqaa.projectjj.com>
aldsaryglar <aldsaryglar@users.sourceforge.net>
Aglimzan <aglimzan@users.sourceforge.net>
Yusuf Tezcan <yatezcan@users.sourceforge.net>
Gabi <gtanekeyev@gmail.com>
Balzhan Abduali <balzhan_5696@mail.ru>
Aidana <askaribayeva@gmail.com>
Saule Zholdybekova <saule123@users.sourceforge.net>
Zhandos Zhumanov <z.zhake@gmail.com>
Нурболат Жанбосунов <nurbolat_03.93@mail.ru>
Zhadyra Akhmadieva <zhadi22@users.sourceforge.net>
Zhenisbek Assylbekov <zhassylbekov@nu.edu.kz>
Yersultan Serikbayev <serikbayev.e@gmail.com>
Assem Abeustanova <shormakovaassem@gmail.com>
Malika Abakan <abaqanmalika@users.sourceforge.net>
Yerbolat Kaldashbekov <yerbolatkz@users.sourceforge.net>
Aizhan Aitkulova <aizhanka.89@mail.ru>
tarika17 <tarika17@users.sourceforge.net>
Toyama Tokanawa <cordawyn@tut.by>
sabertooth-cat <sabertooth-cat@oqaa.projectjj.com>
unuaiga <unuaiga@oqaa.projectjj.com>
Danielle <drosset1@cs.swarthmore.edu>
Marina Loffredo <loffredomarina@gmail.com>
Ubuntu <ubuntu@ip-172-31-29-217.us-west-2.compute.internal>
aagrawal <aagrawal@oqaa.projectjj.com>
Nurendra Choudhary <nurendrachoudhary31@gmail.com>
Anusaaraka <anusaaraka@users.sourceforge.net>
dshgna <dshgna@users.sourceforge.net>
